/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.material-icons{
  vertical-align: middle;
}
.round-top{
  border-radius: 3px 3px 0 0;
}
#stats{
  background-color: #fff;
}
.current-step{
  color: red;
  background-color: peru;
  font-weight: bold;
}
td{
  border: 1px solid #000;
}
.cursor-pointer{
    cursor: pointer;
}
.grab{
    cursor: -webkit-grab;
    cursor: grab;
}
.grabbing{
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.carousel{
    padding: 60px 0;
}
.carousel-cell{

}
.carousel-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dragover{
    background-color: rgba(137, 140, 255, 0.5) !important;
}
.container{
    float: left;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    overflow: hidden;
    background-color: #000;
}
.column.row-clear, .column.column-clear{
    z-index: 1;
    position: relative;
}

.row{
    font-size: 0;
}
.column{
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}
.column .cursor-pointer{
    vertical-align: middle;
    color: red;
}
.diagonal{
    transform: rotate(45deg);
}
.column.diagonal{
    /*margin-bottom: 32px;
    margin-top: calc( 40px / 2 );
    margin-left: calc( 40px / 2 );
    left: calc( 40^2 );*/
}
.column.diagonal:nth-child(even){
    /*top: -40px;*/
}
.column.diagonal:nth-child(odd){

    /*top: 16px;*/
}
.column.diagonal:nth-child(1){}
.column.diagonal:nth-child(2){
    /*left: 0;*/
}
.column.diagonal:nth-child(3){
    /*left: calc(-60px - 42px);*/
    /*left: -22px;*/
}
.column.diagonal:nth-child(4){
    /*left: -44px;*/
}
.column.diagonal:nth-child(5){
    /*left: -66px;*/
}
.column.diagonal:nth-child(6){}
.column.diagonal:nth-child(7){}
.column.diagonal:nth-child(8){}
.column.diagonal:nth-child(9){}
.column.diagonal:nth-child(10){}
.column.diagonal:nth-child(11){}
