<div id="step2" ng-controller="View2Ctrl">

  <md-content layout="column" layout-padding>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="30">
        <label for="zoom">Zoom</label>
        <input type="number" id="zoom" ng-model="gridInfo.zoom">
      </md-input-container>
    </div>
    <md-tabs md-dynamic-height md-border-bottom md-selected="gridInfo.activeTab">
      <md-tab ng-if="stats.tiles.wall.walls && stats.appointment.wall" ng-repeat="(wallIndex, wall) in stats.tiles.wall.walls" md-on-select="showTab($index)" label="Wall #{{ $index+1 }}">
        <md-content class="md-padding">

          <table ng-if="DEBUG_MOD">
            <caption>Стена#{{$index+1}}</caption>
            <tr>
              <th>width</th><th>height</th><th>layout</th><th>tile sizes</th><th>rows</th><th>columns</th><th>area</th><th>colors</th>
            </tr>
            <tr>
              <td>{{wall.width}}</td>
              <td>{{stats.tiles.wall.height}}</td>
              <td>{{stats.layout.wall}}</td>
              <td>
                <div ng-repeat="(key, value) in stats.tile_sizes.wall"><em>{{key}}</em>:<b>{{value}}px</b></div>
              <td>{{  stats.tiles.wall.height / stats.tile_sizes.wall.height }}</td>
              <td>{{ wall.width / stats.tile_sizes.wall.width }}</td>
              <td>{{ gridInfo.wall.rows }}x{{ gridInfo.wall.columns[$index] }} = {{ gridInfo.wall.rows * gridInfo.wall.columns[$index] }}</td>
              <td>
                  <div ng-if="stats.colors.wall" ng-repeat="color in stats.colors.wall" ng-style="{'background-color': color}">{{$index}}:{{color}}</div>
              </td>
            </tr>

          </table>
          <div layout="row">
            <div flex="10">
              <md-input-container>
                <md-button ng-click="changeCellsGridParams(gridInfo.wall.grid[wallIndex], {'color': undefined})" class="md-fab" aria-label="Clear all grid">
                  <i class="material-icons">delete_forever</i>
                </md-button>
              </md-input-container>
            </div>
            <div flex="90">
              <h3>Сделайте двойной клик по плитке и вся сетка заполниться єтим цветом.</h3>
              <carousel3d class="carousel"
                          options="carouselColorsWall"
                          ng-model="stats.colors.wall">
                <carousel3d-slide class="carousel-cell" ng-repeat="RGBColor in stats.colors.wall">
                  <div class="carousel-item"
                       ng-style="{'background-color': RGBColor, 'width': stats.tile_sizes.wall.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.wall.height * gridInfo.zoom + 'px'}"
                       ng-class="dndVars.dragState"
                       ng-dblclick="changeCellsGridParams(gridInfo.wall.grid[wallIndex], {'color': RGBColor})">
                    <i class="material-icons"
                       dnd-draggable="true"
                       dnd-draggable-opts="{'layer': 'color', 'helper': 'clone', 'useAsPoint': true}"
                       dnd-on-dragstart="rectColor.dragstart($dragmodel, $dropmodel, $dragged)"
                       dnd-on-drag="rectColor.drag($dropmodel,$dropmodel, $dragged)"
                       dnd-on-dragend="rectColor.dragend($dropmodel,$dragmodel, $dragged)"
                       dnd-containment="'#step2'"
                       dnd-model="RGBColor">format_color_fill</i>
                  </div>
                </carousel3d-slide>
              </carousel3d>
            </div>
          </div>

            <div ng-if="stats.layout.wall == 'diagonal'">
                <div class="grid__container">
                    <div class="grid__left">
                        <div class="grid__head grid__head_rows">
                            <div class="grid__cell_wipe" ng-style="gridInfo.wall.rhombus[wallIndex].wiper">
                                <div class="grid__inner">
                                    <i ng-style="{'font-size': gridInfo.wall.rhombus[wallIndex].wiper['font-size']}"
                                       class="cursor-pointer material-icons"
                                       ng-class="dndVars.dragState"
                                       dnd-draggable="true"
                                       dnd-draggable-opts="{'layer': 'color', 'helper': 'clone', 'useAsPoint': true}"
                                       dnd-on-dragend="rectColor.dragend($dropmodel,$dragmodel)"
                                       dnd-containment="'.grid__container'"
                                       dnd-model="eraser">format_color_reset</i>
                                </div>
                            </div>
                            <div class="grid__cell"
                                 ng-repeat="(index, column) in gridInfo.wall.grid[wallIndex][0]"
                                 ng-style="gridInfo.wall.rhombus[wallIndex].cellsHeadStyles(index, 'column')">
                                <div class="grid__inner"
                                     ng-click="gridCls('column', gridInfo.wall.grid[wallIndex], index, 2)"
                                     dnd-droppable="true"
                                     dnd-droppable-opts="{'layer': 'color' }"
                                     dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index, 2)"
                                     dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index, 2)"
                                     dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index, 2)"
                                     dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index, 2)">
                                    <i ng-style="{'font-size': gridInfo.wall.rhombus[wallIndex].wiper['font-size']}" class="cursor-pointer material-icons">clear</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid__right" ng-style="gridInfo.wall.rhombus[wallIndex].gridRight">
                        <div class="grid__head grid__head_cells" ng-style="{'width': gridInfo.wall.rhombus[wallIndex].side + gridInfo.wall.rhombus[wallIndex].unit }">
                            <div class="grid__cell"
                                 ng-repeat="(index, row) in gridInfo.wall.grid[wallIndex]"
                                 ng-style="gridInfo.wall.rhombus[wallIndex].cellsHeadStyles(index, 'row')"
                                 dnd-droppable="true"
                                 dnd-droppable-opts="{'layer': 'color' }"
                                 dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                                 dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                                 dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                                 dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)">
                                <div class="grid__inner" ng-click="gridCls('row', gridInfo.wall.grid[wallIndex], index, 2)">
                                    <i ng-style="{'font-size': gridInfo.wall.rhombus[wallIndex].wiper['font-size']}" class="cursor-pointer material-icons">clear</i>
                                </div>
                            </div>
                        </div>
                        <div class="grid-wrapper" ng-style="gridInfo.wall.rhombus[wallIndex].wrapper()">
                            <div class="grid" ng-style="gridInfo.wall.rhombus[wallIndex].containerStyles(false, {'font-size': '1rem'})">
                                <!--
                                <div class="grid__row" ng-repeat="r in [0]">
                                  <div class="grid__cell" ng-repeat="c in [0,1,2,3]" ng-style="{'background': '#f0f0f0'}">
                                    <div class="grid__inner">none {{r + ':' + c}}</div>
                                  </div>
                                </div>
                                -->
                                <div class="grid__row"
                                     ng-repeat="(index, row) in gridInfo.wall.grid[wallIndex]"
                                     ng-style="gridInfo.wall.rhombus[wallIndex].rowStyles(index)">
                                    <div class="grid__cell"
                                         ng-repeat="(i, col) in row"
                                         ng-class="col.hover"
                                         ng-style="gridInfo.wall.rhombus[wallIndex].cellStyles( col.color )"
                                         dnd-droppable="true"
                                         dnd-droppable-opts="{'layer': 'color' }"
                                         dnd-on-drop="rectDrop.drop($dropmodel, $dragmodel)"
                                         dnd-on-dragenter="rectDrop.dragenter($dropmodel, $dragmodel)"
                                         dnd-on-dragover="rectDrop.dragover($dropmodel, $dragmodel)"
                                         dnd-on-dragleave="rectDrop.dragleave($dropmodel, $dragmodel)"
                                         dnd-model="col">
                                        <div class="grid__inner" ng-style="gridInfo.wall.rhombus[wallIndex].cellInnerStyles">{{index + ':' + col.id}}</div>
                                    </div>
                                </div>
                                <!--
                              <div class="grid__row">
                                <div class="grid__cell" ng-repeat="c in [0,1,2,3]" ng-style="gridInfo.flor.rhombus.cellStyles('#fefefe')">
                                  <div class="grid__inner" ng-style="gridInfo.flor.rhombus.cellInnerStyles">none {{c}}</div>
                                </div>
                              </div>
                                -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

          <div class="container" ng-if="stats.layout.wall == 'rectangular'">
            <div class="row">
              <div class="column column-clear-button"
                   ng-style="{'width': stats.tile_sizes.wall.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.wall.height * gridInfo.zoom + 'px', 'background-color': col.color || '#cfecfe'}"
                   >
                  <i class="cursor-pointer material-icons"
                     ng-class="dndVars.dragState"
                     dnd-draggable="true"
                     dnd-draggable-opts="{'layer': 'color', 'helper': 'clone', 'useAsPoint': true}"
                     dnd-on-dragend="rectColor.dragend($dropmodel,$dragmodel)"
                     dnd-containment="'.container'"
                     dnd-model="eraser">format_color_reset</i>
              </div>

              <div class="column column-clear"
                   ng-repeat="(index, row) in gridInfo.wall.grid[$index][0]"
                   ng-style="{'width': stats.tile_sizes.wall.width* gridInfo.zoom + 'px', 'height': stats.tile_sizes.wall.height * gridInfo.zoom + 'px', 'background-color': col.color || '#eeeeee'}"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'column', gridInfo.wall.grid[wallIndex], index)"
                   dnd-model="gridInfo.wall.grid[wallIndex][index][0]">
                  <i class="cursor-pointer material-icons" ng-click="gridCls('column', gridInfo.wall.grid[wallIndex], index)">clear</i>
              </div>
            </div>
            <div class="row" ng-repeat="(index, row) in gridInfo.wall.grid[$index]">
              <div class="column row-clear"
                   ng-style="{'width': stats.tile_sizes.wall.width* gridInfo.zoom + 'px', 'height': stats.tile_sizes.wall.height * gridInfo.zoom + 'px', 'background-color': col.color || '#eeeeee'}"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)"
                   dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'row', gridInfo.wall.grid[wallIndex], index)">

                  <i class="cursor-pointer material-icons" ng-click="gridCls('row', gridInfo.wall.grid[wallIndex], index)">clear</i>
              </div>
              <div class="column" ng-style="{'width': stats.tile_sizes.wall.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.wall.height * gridInfo.zoom + 'px', 'background-color': col.color || '#fefefe'}"
                   ng-repeat="(i, col) in row"
                   ng-class="stats.layout.wall + ' ' + col.hover;"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="rectDrop.drop($dropmodel, $dragmodel)"
                   dnd-on-dragenter="rectDrop.dragenter($dropmodel, $dragmodel)"
                   dnd-on-dragover="rectDrop.dragover($dropmodel, $dragmodel)"
                   dnd-on-dragleave="rectDrop.dragleave($dropmodel, $dragmodel)"
                   dnd-model="col"
              >
                <div class="column-info" ng-if="DEBUG_MOD">
                  <div class="column-index">x<sup>{{index+1}}{{$index+1}}</sup><span ng-if="col.color">=</span></div>
                  <div class="column-value">{{col.color}}</div>
                </div>
              </div>
            </div>
          </div>

        </md-content>
      </md-tab>
      <md-tab ng-if="stats.tiles.flor && stats.appointment.flor" md-on-select="showTab(stats.tiles.wall.walls.length || 0)" label="Flor">
        <md-content class="md-padding">
          <table ng-if="DEBUG_MOD">
            <caption>Пол</caption>
            <tr>
              <th>width</th><th>height</th><th>layout</th><th>tile sizes</th><th>rows</th><th>columns</th><th>area</th><th>colors</th>
            </tr>
            <tr>
              <td>{{stats.tiles.flor.width}}</td>
              <td>{{stats.tiles.flor.height}}</td>
              <td>{{stats.layout.flor}}</td>
              <td>
                <div ng-repeat="(key, value) in stats.tile_sizes.flor"><b>{{key}}</b>: <i>{{value}}px</i></div>
              </td>
              <td>{{ stats.tiles.flor.height / stats.tile_sizes.flor.height }}</td>
              <td>{{ stats.tiles.flor.width / stats.tile_sizes.flor.width }}</td>
              <td>{{ gridInfo.flor.rows }}x{{ gridInfo.flor.columns }} = {{ gridInfo.flor.rows * gridInfo.flor.columns }}</td>
              <td>
                <div ng-repeat="(key, value) in stats.colors.flor" ng-style="{'background-color': value}">{{key}}:{{value}}</div>
              </td>
            </tr>

          </table>

          <div layout="row">
            <div flex="10">
              <md-input-container>
                <md-button ng-click="changeCellsGridParams(gridInfo.flor.grid, {'color': undefined})" class="md-fab" aria-label="Clear all grid">
                  <i class="material-icons">delete_forever</i>
                </md-button>
              </md-input-container>
            </div>
            <div flex="90">
              <h3>Сделайте двойной клик по плитке и вся сетка заполниться єтим цветом.</h3>
              <carousel3d class="carousel"
                          options="carouselColorsFlor"
                          ng-model="stats.colors.flor">
                <carousel3d-slide class="carousel-cell" ng-repeat="RGBColor in stats.colors.flor">
                  <div class="carousel-item"  ng-style="{'background-color': RGBColor, 'width': stats.tile_sizes.flor.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.flor.height * gridInfo.zoom + 'px'}"
                       ng-class="dndVars.dragState"
                       ng-dblclick="changeCellsGridParams(gridInfo.flor.grid, {'color': RGBColor})">
                    <i class="material-icons"
                       ng-click = "click(!$dragged && !$resized && !$rotated, $dropmodel)"
                       dnd-draggable="true"
                       dnd-draggable-opts="{'layer': 'color', 'helper': 'clone'}"
                       dnd-on-dragstart="rectColor.dragstart($dropmodel, $dragmodel)"
                       dnd-on-drag="rectColor.drag($dropmodel, $dragmodel)"
                       dnd-on-dragend="rectColor.dragend($dropmodel, $dragmodel)"
                       dnd-containment="'#step2'"

                       dnd-model="RGBColor">format_color_fill</i>
                  </div>
                </carousel3d-slide>
              </carousel3d>
            </div>
          </div>



          <div ng-if="stats.layout.flor == 'diagonal'">
              <div class="grid__container">
                <div class="grid__left">
                  <div class="grid__head grid__head_rows">
                    <div class="grid__cell_wipe" ng-style="gridInfo.flor.rhombus.wiper">
                      <div class="grid__inner">
                          <i class="cursor-pointer material-icons"
                             ng-class="dndVars.dragState"
                             ng-style="{'font-size': gridInfo.flor.rhombus.wiper['font-size']}"
                             dnd-draggable="true"
                             dnd-draggable-opts="{'layer': 'color', 'helper': 'clone', 'useAsPoint': true}"
                             dnd-on-dragend="rectColor.dragend($dropmodel,$dragmodel)"
                             dnd-containment="'.grid__container'"
                             dnd-model="eraser">format_color_reset</i>
                      </div>
                    </div>
                    <div class="grid__cell"
                         ng-repeat="(index, column) in gridInfo.flor.grid[0]"
                         ng-style="gridInfo.flor.rhombus.cellsHeadStyles(index, 'column')"
                         dnd-droppable="true"
                         dnd-droppable-opts="{'layer': 'color' }"
                         dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index, 2)"
                         dnd-model="gridInfo.flor.grid[index][0]">
                      <div class="grid__inner" ng-click="gridCls('column', gridInfo.flor.grid, index, 2)">
                          <i ng-style="{'font-size': gridInfo.flor.rhombus.wiper['font-size']}" class="cursor-pointer material-icons">clear</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="grid__right" ng-style="gridInfo.flor.rhombus.gridRight">
                  <div class="grid__head grid__head_cells" ng-style="{'width': gridInfo.flor.rhombus.side + gridInfo.flor.rhombus.unit }">
                    <div class="grid__cell" ng-repeat="(index, row) in gridInfo.flor.grid"
                         ng-style="gridInfo.flor.rhombus.cellsHeadStyles(index, 'row')"
                         dnd-droppable="true"
                         dnd-droppable-opts="{'layer': 'color' }"
                         dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index, 2)"
                         dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index, 2)">
                      <div class="grid__inner">
                          <i ng-style="{'font-size': gridInfo.flor.rhombus.wiper['font-size']}" class="cursor-pointer material-icons" ng-click="gridCls('row', gridInfo.flor.grid, index, 2)">clear</i>
                      </div>
                    </div>

                  </div>
                  <div class="grid-wrapper" ng-style="gridInfo.flor.rhombus.wrapper()">
                    <div class="grid" ng-style="gridInfo.flor.rhombus.containerStyles(false, {'font-size': '1rem'})">
                      <div class="grid__row"
                           ng-repeat="(index, row) in gridInfo.flor.grid"
                           ng-style="gridInfo.flor.rhombus.rowStyles(index)">
                        <div class="grid__cell"
                             ng-repeat="(i, col) in row" ng-style="gridInfo.flor.rhombus.cellStyles(col.color)"
                             ng-class="col.hover"
                             dnd-droppable="true"
                             dnd-droppable-opts="{ 'layer': 'color' }"
                             dnd-on-drop="rectDrop.drop($dropmodel, $dragmodel)"
                             dnd-on-dragenter="rectDrop.dragenter($dropmodel, $dragmodel)"
                             dnd-on-dragover="rectDrop.dragover($dropmodel, $dragmodel)"
                             dnd-on-dragleave="rectDrop.dragleave($dropmodel, $dragmodel)"
                             dnd-model="col">
                          <div class="grid__inner" ng-style="gridInfo.flor.rhombus.cellInnerStyles">{{ col }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
          </div>

          <div class="container" ng-if="stats.layout.flor == 'rectangular'">
            <div class="row">
              <div class="column column-clear-button"
                   ng-style="{'width': stats.tile_sizes.flor.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.flor.height * gridInfo.zoom + 'px', 'background-color': col.color || '#cfecfe'}"
                   >
                <i class="cursor-pointer material-icons"
                   ng-class="dndVars.dragState"
                   dnd-draggable="true"
                   dnd-draggable-opts="{'layer': 'color', 'helper': 'clone', 'useAsPoint': true}"
                   dnd-on-dragend="rectColor.dragend($dropmodel,$dragmodel)"
                   dnd-containment="'.container'"
                   dnd-model="eraser">format_color_reset</i>
              </div>

              <div class="column column-clear"
                   ng-repeat="(index, row) in gridInfo.flor.grid[0]"
                   ng-style="{'width': stats.tile_sizes.flor.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.flor.height * gridInfo.zoom + 'px', 'background-color': col.color || '#eeeeee'}"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index)"
                   dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index)"
                   dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index)"
                   dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'column', gridInfo.flor.grid, index)"
                   dnd-model="gridInfo.flor.grid[index][0]">
                <i ng-click="gridCls('column', gridInfo.flor.grid, index)" class="cursor-pointer material-icons">clear</i>
              </div>
            </div>
            <div class="row" ng-repeat="(index, row) in gridInfo.flor.grid">
              <div class="column row-clear"
                   ng-style="{'width': stats.tile_sizes.flor.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.flor.height * gridInfo.zoom + 'px', 'background-color': col.color || '#eeeeee'}" dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="gridCov.drop($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index)"
                   dnd-on-dragenter="gridCov.dragenter($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index)"
                   dnd-on-dragover="gridCov.dragover($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index)"
                   dnd-on-dragleave="gridCov.dragleave($dropmodel, $dragmodel, 'row', gridInfo.flor.grid, index)">
                <i ng-click="gridCls('row', gridInfo.flor.grid, index)" class="cursor-pointer material-icons">clear</i>
              </div>
              <div ng-if="stats.layout.flor === 'rectangular'" class="column" ng-style="{'width': stats.tile_sizes.flor.width * gridInfo.zoom + 'px', 'height': stats.tile_sizes.flor.height * gridInfo.zoom + 'px', 'background-color': col.color || '#fefefe'}"
                   ng-repeat="(i, col) in row"
                   ng-class="stats.layout.flor + ' ' + col.hover"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="rectDrop.drop($dropmodel, $dragmodel, $event)"
                   dnd-on-dragenter="rectDrop.dragenter($dropmodel, $dragmodel)"
                   dnd-on-dragover="rectDrop.dragover($dropmodel, $dragmodel)"
                   dnd-on-dragleave="rectDrop.dragleave($dropmodel, $dragmodel)"
                   dnd-model="col"
              >
                <div class="column-info" ng-if="DEBUG_MOD">
                  <div class="column-index">x<sup>{{index+1}}{{$index+1}}</sup><span ng-if="col.color">=</span></div>
                  <div class="column-value">{{col.color}}</div>
                </div>
              </div>
              <div ng-if="stats.layout.flor === 'diagonal'"
                   ng-repeat="(i, col) in row"
                   class="column"
                   ng-style="rombusStyles(stats.tile_sizes.flor.width * gridInfo.zoom, index, i, col.color)"
                   ng-class="stats.layout.flor + ' ' + col.hover"
                   dnd-droppable="true"
                   dnd-droppable-opts="{'layer': 'color' }"
                   dnd-on-drop="rectDrop.drop($dropmodel, $dragmodel, $event)"
                   dnd-on-dragenter="rectDrop.dragenter($dropmodel, $dragmodel)"
                   dnd-on-dragover="rectDrop.dragover($dropmodel, $dragmodel)"
                   dnd-on-dragleave="rectDrop.dragleave($dropmodel, $dragmodel)"
                   dnd-model="col"
              >
                <div class="column-info" ng-if="DEBUG_MOD">
                  <div class="column-index">x<sup>{{index+1}}{{$index+1}}</sup><span ng-if="col.color">=</span></div>
                  <div class="column-value">{{col.color}}</div>
                </div>
              </div>
            </div>
          </div>
          <pre ng-if="DEBUG_MOD">{{gridInfo.flor.grid | json}}</pre>

        </md-content>
      </md-tab>
    </md-tabs>


      <div ng-show="!gridIsEmpty() && !florIsEmpty()">not empty</div>
    <md-input-container ng-show="!gridIsEmpty() && !florIsEmpty()">
      <md-button ui-sref="step3" class="md-fab md-primary">
          <i class="material-icons">forward</i>
      </md-button>
    </md-input-container>

    <div class="ext-content" ng-if="DEBUG_MOD">
      <pre>{{gridInfo | json}}</pre>
    </div>


  </md-content>

</div>